.black-bg{
    background-color: #333333;
}
.white-bg{
    background-color: #F4F6FF;
}
.white-txt{
    color: #e1e6f0;
}

.blue-bg{
    background-color: #0065a9;
}
.blue-txt{
    color: #0065a9;
}

.vs-bg{
    background-color: #1e1e1e;
}


.compilar-bg{
    background-color: #3a3a3a;
}

.dim-txt{
    color: #66604f;
}