.code-editor{
    /* padding: 20px; */
    width: 100%;
    height: 100%;
    font-family: Consolas, "Courier New", monospace;
    /* gap: 10px; */
}

.input-container{
    gap: 5px;
    width: 100%;
    height: 100%;
}
.input-container>p, .output-container>p{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.output-container{
    
    gap: 5px;
    width: 50%;
    height: 100%;
}

.output{
    border:1px solid #0065a9;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding: 10px;
}

.input-header{
    gap: 20px;
}

.compilar{
    width: 100%;
    height: 100%;
    gap: 5px;
}

.input{
    width: 100%;
    height: 75%;
}
.output{
    width: 100%;
    height: 25%;
}

.compilar-heading{
    gap: 20px;
    text-align: center;
}

.line-error {
    background-color: red;
    color: white;
  }
  
  .line-warning {
    background-color: yellow;
    color: black;
  }

  .highlight-comment {
    background-color: blue;
    border-left: 3px solid orange;
  }