.form-container-login {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-container-login form {
  align-items: center;
}
.form-container-login h3 {
  margin-bottom: 20px;
}

.form-container-login form input {
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f8f9fa;
  color: #34495e;
}

.form-container-login button {
  width: 100%;
  padding: 10px;
  background-color: #34495e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container-login button:hover {
  background-color: #486683;
}

.error-message {
  color: #e74c3c;
  margin-bottom: 15px;
}

.toggle-link {
  color: #3498db;
  cursor: pointer;
  text-decoration: underline;
}

.toggle-link:hover {
  color: #2980b9;
}
